.nav{
    padding: 8px;;
}
.logo{
    font-size: 1.8rem;
    font-family: serif;
    font-weight: 40px;
}
.col-8 a{
    display: inline-block;
    padding: 4px 6px;
}
.first-page{
    color: #000;
}
.title{
    color: #888;
}
.col-16 .ask{
    width: 350px;
    height: 30px;
    
}
.col-16{
    position: relative;
    top: 6px;
    vertical-align: bottom;
}
.btn{
    width: 80px;
    height: 33px;
    background: #09f;
    border-radius: 10%;
}