body{
    margin: 0;
}
.parent{
    border: 2px solid red;
}
.left , .right{
    border: 2px solid black;
    min-height: 20px;
    box-sizing: border-box;
    /* 如果没有明确的说怎么算宽度，他默认是从内容区开始计算，这里改为从border开始计算 */
    
}
.left{
    width: 30%;
}
.right{
    width: 70%;
}
.fl{
    float: left;
}
.clear{
    clear: both;
}
.parent::after{
    content: '  ';
    clear: both;
}